<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
 <title>Java Params</title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" type="text/css"	href="webjars/bootstrap/5.3.5/css/bootstrap.min.css" />
</head>
<body class="bg-dark text-light">
 <div class="container">
  <script type="text/javascript" src="webjars/jquery/3.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="webjars/bootstrap/5.3.5/js/bootstrap.min.js"></script>
  <div class="px-4 py-5 my-5 text-center">
   <h1 class="display-5 fw-bold">Java Parameters</h1>
   <div class="col-lg-8 mx-auto mt-4">
    <div class="text-center mt-4 d-flex justify-content-center gap-3">
     <sec:authorize access="!isAuthenticated()">
      <a href="/login" class="btn btn-outline-light">GitHub Login</a>
     </sec:authorize>
     <a href="https://youtube.com/@DevMultitask" class="btn btn-primary" target="_blank" >YouTube</a>
    </div>
    <div class="text-center mt-4">
     <p th:if="${name != null}">
      Welcome <strong th:text="${name}">user</strong>!
      <a href="/logout" class="btn btn-sm btn-warning ms-2">Logout</a>
     </p>
    </div>
    <div class="container mt-4">
     <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <div class="col" th:each="parameter : ${params}">
       <div class="card h-100 text-bg-dark border-secondary">
        <div class="card-body bg-light text-dark">
         <h5 class="card-title" th:text="${parameter.name}">-Xms</h5>
         <p class="card-text" th:text="${parameter.description}">Heap minimum size</p>
         <button type="button" class="btn btn-light mt-2"
                 th:id="'likes-' + ${parameter.id}"
                 th:text="${'❤️ '+ parameter.totalLikes}"
                 th:disabled="${#authorization.expression('!isAuthenticated()')}"
                 onclick="like(this)">
         </button>
        </div>
       </div>
      </div>
     </div>
     <div>
      <a href="/swagger-ui/index.html#/" class="btn btn-primary btn-lg mt-4" target="_blank">OpenAPI / Swagger</a>
     </div>
    </div>
   </div>
  </div>
 </div>
</body>
</html>
<script>
 function like(button) {
   const id = button.id.replace('likes-', '');
   $.ajax({
     url: `/api/parameter/${id}/like`,
     type: 'POST',
     success: function(newTotalLikes) {
       $(button).html(`<span class="ms-2 text-success">❤️ ${newTotalLikes}</span>`);
     },
     error: function() {
       alert("Error");
     }
   });
 }
</script>
